.main_form {
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #C8C1DF;
    border-radius: 5px;
}

.profile_bt_sm {
    display: flex;
    justify-content: center;
    width: 75%;
}

@media only screen and (max-width:600px) {
    .registration_div {
        padding: 10px;
    }

    .profile_bt_sm {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}